.content
	.footer_main
		%ul
			%li 
				%h2 Recommended
			%li= link_to "IP CCTV", root_path
			%li= link_to "Rapid Deployment", root_path
			%li= link_to "Access Control", root_path
			%li= link_to "RDS9", root_path
		%ul
			%li 
				%h2 Services
			%li= link_to "Maintenance", root_path
			%li= link_to "Consultation", root_path
			%li= link_to "Solutions", root_path
			%li= link_to "Support", root_path
		%ul
			%li 
				%h2 Products
			%li= link_to "Cameras", root_path
			%li= link_to "Bollards and Barriers", root_path
			%li= link_to "DVRs", root_path
			%li= link_to "Software", root_path
			%li= link_to "Wireless", root_path
		%ul.single_buffer
			%li= link_to "Control Room Solutions", root_path
			%li= link_to "Rooms", root_path
			%li= link_to "Migration", root_path
			%li= link_to "Short Term", root_path
		%ul
			%li 
				%h2 Company
			%li= link_to "Contact Us", root_path
			%li= link_to "About", root_path
			%li= link_to "Home", root_path
		.address_block
			%p CSI Solution Ltd.<br>33a Whiffler Road<br>Norwich<br>Norfolk<br>NR3 2AW
	.footer_low
		%ul.left_foot
			%li &copy 2013 CSI Solution Ltd. All Rights Reserved 
		%ul.mid_foot
			%li Tel: 0843 289 1559 | Fax: 01603 483111 | sales@csi-solution.co.uk
		%ul.right_foot
			%li= link_to "CD2 Solutions", 'http://www.cd2solutions.co.uk' 