%ul.main_service_sidebar.split_3.column
  - if  @service.title == "IP CCTV"
    - Service.where(sub_service: true).where(service_type: "IP CCTV").each do |service|
      %li
        %h3= link_to service.title, service
        = truncate(service.body.html_safe, :length => 61, :escape => false)

  - elsif @service.title == "Rapid Deployment"
    - Service.where(sub_service: true).where(service_type: "Rapid Deployment").each do |service|
      %li
        %h3= link_to service.title, service
  - elsif @service.title == "Access Control"
    - Service.where(sub_service: true).where(service_type: "Access Control").each do |service|
      %li
        %h3= link_to service.title, service
  - elsif @service.title == "Solutions"
    - Service.where(sub_service: true).where(service_type: "Solutions").each do |service|
      %li
        %h3= link_to service.title, service
  - elsif @service.title == "Services"
    - Service.where(sub_service: true).where(service_type: "Services").each do |service|
      %li
        %h3= link_to service.title, service